.profile__author {
  display: flex;
  align-items: baseline;
  justify-content: center;
  max-width: 336px;
}

@media screen and (max-width: 780px) {
  .profile__author {
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__author {
    align-items: baseline;
  }
}

