.profile__author {
  display: flex;
  align-items: baseline;
  justify-content: center;
  max-width: 336px;
}

@media screen and (max-width: 600px) {
  .profile__author {
    max-width: 282px;
  }
}



