.profile__avatar-container {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  margin-right: 30px;
  position: relative;
  display: flex;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .profile__avatar-container {
    margin: 0 0 26px;
  }
}
